.landing-page {
    flex: 1;
}

.landing-page p,
h1 {
    margin: 0;
}

.landing-page-title {
    font-size: 50px;
    text-align: center;
}

.landing-page-desc {
    padding: 20px;
    font-size: xx-large;
}

.landing-page-help {
    padding: 20px;
}

.title-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-img {
    width: 100%;
    height: auto;
}

@media(max-width: 500px) {
    .landing-page-desc {
        font-size: larger;
    }
}