.section-product-name {
    /* max-width: 50rem; */
    width: 100%;
}

.section-product-price {
    box-sizing: border-box;
    height: 5rem;
    min-width: 8rem;
    width: 8rem;
    max-width: 8rem;
}

.product-list-item-quantity-container {
    min-width: 10rem;
    width: 11rem;
    max-width: 12rem;
}

.product-list-item-quantity-content {
    flex: 1;
    height: 100%;
    width: 100%;
}

.shopping-cart-product-count-button {
    border: var(--border);
    border-radius: 50%;
    box-sizing: border-box;
    min-height: 1.5rem;
    min-width: 1.5rem;
    max-height: 1.5rem;
    max-width: 1.5rem;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}

.shopping-cart-product-count-button-icon {
    width: 100%;
    height: 100%;
}

.minus-button-icon {
    background-color: var(--secondary-color);
}

.plus-button-icon {
    background-color: var(--primary-color);
}

.minus-button-icon:hover {
    background-color: var(--secondary-color-hover);
}

.plus-button-icon:hover {
    background-color: var(--primary-color-hover);
}