.product-list-item-prices {
    display: flex;
    min-width: min-content;
    height: 5rem;
    min-width: 13.5rem;
    width: 8rem;
    max-width: 28rem;
}

.discount {
    color: var(--primary-color);
}

.product-list-item-svg {
    width: 1.7rem;
    height: 1.7rem;
    color: var(--destructive-color);
    cursor: pointer;
    padding: 9px 8px 9px 10px;
    border: var(--border) var(--destructive-color);
    border-radius: 10px;
}

.product-list-item-svg:hover {
    background-color: var(--destructive-color-hover);
}