.product-info-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0 0;
}

.product-image {
    min-width: 25rem;
    /* max-width: 500px; */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    flex: 1;
}

.product-picture {
    max-width: 15rem;
    max-height: 15rem;
}

.product-info {
    flex: 2;
    min-width: 44vw;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
    flex: 1;
    padding-bottom: 1rem;
    align-content: center;
}

.product-title .product-description {
    display: block;
    /* Ensures it appears on a new line */
    font-size: medium;
    font-weight: 100;
    color: gray;
    margin-top: 0.25rem;
}

.add-cart {
    display: flex;
    justify-content: right;
    align-items: center;
}

.add-cart-button {
    background-color: var(--primary-color);
    border: var(--border);
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
}

.add-cart-button-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.add-cart-button-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-cart-button-icon {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 2px;
}

@media(max-width: 700px) {
    .product-image {
        min-width: 100%;
        /* max-width: 500px; */
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 1rem;
        flex: 1;
    }
}