.product-info-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-image {
    min-width: 400px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.product-picture {
    max-width: 15rem;
    max-height: 15rem;
}

.product-info {
    flex: 1;
    min-width: 50vw;
    padding: 10px;
    box-sizing: border-box;
}

.add-cart {
    display: flex;
    justify-content: right;
    align-items: center;
}

.add-cart-button {
    background-color: var(--primary-color);
    border: var(--border);
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
}

.add-cart-button:hover {
    background-color: #e09781;
}

.add-cart-button-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.add-cart-button-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-cart-button-icon {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 2px;
}