.shopping-cart-section {
    padding: 10px;
}

.product-list {
    margin: 10px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
}        

.shopping-cart-info-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.product-list-item-p {
    margin: 0;
    text-align: left;
    align-content: center;
    height: 100%;
    width: 100%;
}

.shopping-cart-deletion-container {
    height: 2rem;
    width: 10rem;
}

.shopping-cart-deletion-button {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    border: var(--border) var(--destructive-color);
    border-radius: 10px;
    color: var(--destructive-color);
    background-color: white;
}

.container {
    display: grid;
}

.supermarket-input-label {
    z-index: 1;
}

.stack {
    grid-row: 1;
    grid-column: 1;
}

.supermarket-input-checkbox {
    background-color: #fff;
    appearance: none;
    margin: 0;
    border: var(--border);
    border-radius: 10px;
    font-size: x-large;
    height: 3rem;
    width: 12rem;
    cursor: pointer;
}

.supermarket-input-checkbox:hover,
.supermarket-input-checkbox:checked:hover {
    background-color: #96a3bb;
    /* background-color: #0056b2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); */
}    

.supermarket-input-checkbox:checked {
    background-color: var(--secondary-color);
}

.inner-spacing {
    padding: 20px 10px 0;
}

.main-function-button {
    background-color: var(--primary-color);
    border: var(--border);
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
    font-size: medium;
    cursor: pointer;
}    

.main-function-button:hover {
    background-color: #e09781;
}