.toast-messages-panel {
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
    overflow-y: auto;
}

.panel-dimensions {
    height: 80vh;
    width: 30vw;
}

.toast-messages-list {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

.toast-message-item {
    border: var(--border) var(--border-color);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

.toast-message-content {
    height: max-content;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.toast-message-content h1 {
    font-size: x-large;
}

.success-toast {
    background-color: #B4C5E4;
}

.info-toast {
    background-color: #FFF9F5;
}

.warning-toast {
    background-color: #dfdf1b;
}

.error-toast {
    background-color: #ff0000;
}

@media(max-width: 500px) {
    .panel-dimensions {
        height: 80vh;
        width: 60vw;
    }

    .toast-messages-list {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* gap: 10px; */
    }

    .toast-message-content h1 {
        font-size: medium;
    }
}